html {
	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

body {
	font-family: $regular;
	font-size: 14px;

	background: $main;

	overflow-x: hidden;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: none;
}

button {
	cursor: pointer;
}

label {
	cursor: pointer;
}

img {
	display: block;
}

.container {
	margin: 0 auto;
	padding: 0 15px;

	@include mobile {
		max-width: 680px;
	}

	@include tablet {
		width: 750px;
	}

	@include medium {
		width: 960px;
	}

	@include desctop {
		width: 1200px;
	}
}

.wrapper {
	display: flex;

	&--justify {
		justify-content: space-between;
	}
}

.main {
	line-height: 21px;

	margin-bottom: 60px;
}

.grey {
	color: $text-grey;
}

a:hover {
	text-decoration: none;
}

.link {
	text-decoration: none;

	opacity: .7;
}