// fonts
$regular: 'ArimoRegular';
$bold: 'ArimoBold';
// colors
$main: #f8f8f8;
$blue: #27b1d9;
$white: #ffffff;
$light-blue: #93d8ec;
$grey: #e6e6e6;
$lgrey: #bebebe;
$orange: #f69421;
$black: #323232;
$red: #d32f2e;
$green: #85c300;
$text-grey: #b4b4b4;