footer.footer
	.footer__line.footer__line--top
		.container
			.footer__wrapper
				.recommendations Узнавайте о выгодных предложениях и получайте личные рекомендации
				form.subscribe
					input.subscribe__input(type="email" placeholder="Введите свой E-mail")
					button.subscribe__submit(type="submit") Подписаться
	.footer.footer--main
		.container
			.footer__wrapper.footer__wrapper--top
				.footer__column
					.footer__title Пользователям
					+menu('footer', ['Как сделать заказ', 'Оплата', 'Доставка', 'Система скидок', 'Возврат и обмен', 'Как стать оптовиком'])
				.footer__column
					.footer__title Поставщикам
					+menu('footer', ['Как начать сотрудничество', 'Оплата', 'Доставка', 'Возврат и обмен'])
				.footer__column
					.footer__contacts
						.footer__title Россия:
						a.footer__link(href="#") 8-800-700-70-50
					.footer__contacts
						.footer__title Москва:
						.footer__text
							a.footer__link(href="#") 8 (495) 943-60-10
						.footer__text
							a.footer__link(href="#") 8 (968) 665-70-50
					.footer__contacts
						.footer__title Время приема заказов:
						.footer__text Пн-Пт: с 9:00 до 21:00
						.footer__text Сб-Вс: с 10:00 до 16:00
				.footer__column
					.footer__contacts 
						.footer__title Skype:
						.footer__text
							a.footer__link(href="#") planetam-market
					.footer__contacts 
						.footer__title E-mail:
						.footer__text
							a.footer__link(href="#") info@m-market.ru
						.footer__text
							a.footer__link(href="#") m-market@inbox.ru
				.social
					a.social__item.social__item--vk(href="#")
					a.social__item.social__item--fb(href="#")
					a.social__item.social__item--ok(href="#")
					a.social__item.social__item--in(href="#")
	.footer__line.footer__line--bottom
		.container
			.footer__wrapper.footer__wrapper--left
				.footer__shop © 2005-2018 М-МАРКЕТ
				.footer__shop Интернет магазин М-МАРКЕТ
