.button {
	display: block;

	padding: 10px 0;
	
	font-family: $bold;
	font-size: 16px;

	text-decoration: none;
	text-align: center;

	border-radius: 4px;
	border: none;

	&:hover {
		opacity: .7;
	}

	&--add2cart {
		color: $white;
		background: $orange;
	}

	&--buy1click {
		color: $text-grey;
		border: 1px solid $text-grey;
		background: transparent;
	}

	&--credit {
		color: $blue;
		border: 1px solid $blue;
		background: transparent;
	}

	&--minus,
	&--plus {
		width: 30px;
		height: 30px;

		background: transparent;

		color: $blue;

		padding: 0;

		position: absolute;
		top: 0;
	}

	&--minus {
		left: 0;
	}

	&--plus {
		right: 0;
	}

	&--blue {
		padding: 9px 28px;

		background: $blue;
		color: $white;
	}

	&--width {
		width: 270px;
	}

	&--right {
		margin-left: auto;
	}
}