.cart {
	margin-bottom: 60px;

	&__items {
		display: flex;
		flex-direction: column;
		
		padding-top: 15px;
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 10px 60px 10px 20px;

		background: $white;
		border: 1px solid $grey;
		border-radius: 4px;

		position: relative;

		&-remove {
			display: block;

			width: 20px;
			height: 20px;

			background: url('../img/remove.png') no-repeat 0 0;

			position: absolute;
			top: 3px;
			right: 3px;
		}
	}

	&__image {
		width: 125px;
		height: 80px;

		& > img {
			height: 100%;
		}
	}

	&__title {
		color: $blue;

		text-decoration: none;
	}

	&__prices {
		display: flex;
	}

	&__price {
		font-size: 16px;

		margin-right: 30px;
	}

	&__oldprice {
		color: #b4b4b4;

		text-decoration:line-through
	}

	&__total {
		display: flex;
	    flex-direction: column;
	    align-items: flex-end;

	    margin-bottom: 25px;

	    &-text {
	    	margin-bottom: 17px;
	    }

	    &-price {
	    	font-family: $bold;
	    	font-size: 26px;

	    	color: $orange;
	    }
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
	}

	&__btn {
		width: 270px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}