.main-menu {
	background: $white;

	padding: 15px 0;

	position: relative;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		display: flex;

		padding: 0;
		margin: 0;

		list-style: none;
	}

	&__item:not(:last-child) {
		margin-right: 27px;
	}

	&__link {
		text-decoration: none;

		color: $black;

		&:hover {
			color: $red;
		}
	}
}