.pagination {
	display: flex;
	justify-content: flex-end;

	font-family: $bold;
	font-size: 16px;

	&__item {
		text-decoration: none;

		color: $blue;

		&:hover,
		&--active {
			color: $black;
		}

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__dots {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-right: 15px;

		& > svg {
			width: 10px;
			height: 10px;

			fill: $text-grey;
		}
	}
}