.catalog {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 30px;

	@include tablet {
		justify-content: space-around;
	}

	@include medium {
		justify-content: flex-start;	
	}

	&__item {
		border: 1px solid $grey;
		border-radius: 3px;

		background: $white;

		margin-bottom: 30px;

		@include mobile {
			width: auto;
		}

		@include tablet {
			width: calc(50% - 40px);
		}

		@include medium {
			width: calc(35% - 40px);

			&:not(:nth-child(3n)) {
				margin-right: 36px;
			}
		}

		@include desctop {
			width: calc(25% - 20px);

			&:not(:nth-child(3n)) {
				margin-right: 0;
			}

			&:not(:nth-child(4n)) {
				margin-right: 26px;
			}
		}

		&--filter {

			@include medium {
				width: calc(50% - 40px);

				&:not(:nth-child(3n)) {
					margin-right: 0;
				}

				&:not(:nth-child(2n)) {
					margin-right: 80px;
				}
			}

			@include desctop {
				width: calc(35% - 40px);

				&:not(:nth-child(4n)) {
					margin-right: 0;
				}

				&:not(:nth-child(3n)) {
					margin-right: 38px;
				}
			}
		}

		&--compare {
			position: relative;

			margin-bottom: 0;

			@include mobile {
				width: 220px;
				
				&:not(:last-child) {
					margin-right: 0;
				}
			}

			@include tablet {
				width: 230px;
			}

			@include medium {
				width: auto;

				&:not(:nth-child(3n)) {
					margin-right: 0;
				}
			}

			@include desctop {
				width: auto;

				&:not(:nth-child(3n)),
				&:not(:nth-child(4n)) {
					margin-right: 0;
				}
			}
		}

		&-description {
			padding: 15px 15px 20px 15px;
		}

		&-image {
			display: flex;
			justify-content: center;
			align-items: center;
			
			padding: 10px;

			& > img {
				width: 100%;
			}
		}

		&-icons {
			display: flex;
			align-items: flex-start;

			padding-top: 10px;
			padding-left: 10px;
		}

		&-icon {
			font-size: 10px;

			padding: 0 14px;

			border-radius: 4px;

			color: $white;

			&:not(:last-of-type) {
				margin-right: 10px;
			}

			&--leader {
				width: 30px;
				height: 30px;

				padding: 0;

				background: url('../img/trophy.png') no-repeat 0 0;
			}

			&--discount {
				background: $red;
			}

			&--new {
				background: $orange;

				text-transform: uppercase;
			}
		}

		&-category {
			display: block;

			text-decoration: none;
			text-align: center;

			color: $lgrey;

			margin-bottom: 15px;

			&:hover {
				opacity: .7;
			}
		}

		&-name {
			display: block;

			font-size: 16px;
			line-height: 24px;

			color: $blue;

			text-align: center;
			text-decoration: none;

			padding: 0 10px 15px 10px;

			&:hover {
				opacity: .7;
			}
		}

		&-prices {
			display: flex;
			justify-content: space-between;

			padding: 19px 0;

			border-top: 1px solid $grey;
			border-bottom: 1px solid $grey;
		}

		&-price {
			font-size: 16px;
		}

		&-oldprice {
			color: $lgrey;

			text-decoration: line-through;
		}

		&-links {
			display: flex;

			padding-top: 19px;
		}

		&-link {
			display: flex;
			align-items: center;

			height: 24px;

			font-size: 16px;

			text-decoration: none;

			color: $blue;

			&--cart {
				margin-right: auto;
			}

			&--cart > svg {
				width: 24px;
				height: 24px;

				margin-right: 10px;

				fill: $blue;

				order: -1;
			}

			&--small:last-child {
				margin-left: 20px;
			}

			&--small > svg {
				width: 21px;
				height: 21px;

				fill: #c8c8c8;
			}

			&:hover,
			&:hover > svg {
				fill: $orange;
				color: $orange;
			}
		}
	}

	&__novelties {
		margin-bottom: 50px;
	}

	&__novelty {
		width: 66%;
		height: 320px;

		position: relative;

		@include mobile {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		@include tablet {
			width: 66%;	
		}

		&--small {
			width: 30%;

			@include mobile {
				width: 100%;	
			}

			@include tablet {
				width: 30%;	
			}
		}

		&-row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		&-desc {
			width: 365px;

			font-family: $bold;
			font-size: 20px;
			line-height: 30px;

			padding: 15px;

			color: $white;
			background: rgba(247, 158, 55, 0.9);

			text-decoration: none;

			position: absolute;
			left: 15px;
			bottom: 15px;

			@include mobile {
				width: auto;

				font-size: 18px;	
			}

			@include tablet {
				width: auto;	
			}

			@include medium {
				width: 365px;
			}

			&--small {
				width: auto;

				font-size: 16px;
				line-height: 24px;

				padding: 8px 15px;

				left: 0;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: center;

		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: 55px;
		}
	}

	&__showmore {
		display: block;

		font-family: $bold;
		font-size: 16px;

		text-decoration: none;
		text-transform: uppercase;

		color: $white;

		padding: 13px 220px;

		background: $orange;
		border-radius: 4px;

		@include mobile {
			width: 100%;

			text-align: center;

			padding: 13px 0;	
		}

		@include tablet {
			padding: 13px 150px;	
		}

		@include medium {
			padding: 13px 220px;
		}

		&--black {
			color: $black;

			background: transparent;

			border: 1px solid $text-grey;
		}

		&:hover {
			opacity: .7;
		}
	}
}