.compare {

	&__wrapper {
		display: flex;
		justify-content: center;

		margin-bottom: 30px;

		@include mobile {
			flex-direction: column;	
		}
	}

	&__characteristics {
		border: 1px solid $grey;
		border-radius: 4px;

		background: $white;
	}

	&__item {
		display: flex;
		justify-content: space-between;

		padding: 19px;

		@include mobile {
			flex-direction: column;
			
			padding: 7px;	
		}

		&:not(:last-child) {
			border-bottom: 1px solid $grey;
		}
	}

	&__title {
		font-family: $bold;
	}
}