.compare {

	&__table {
		display: flex;

		border-collapse: collapse;

		&-name {
			display: none;

			@include small_mobile {
				display: block;

				text-decoration: none;

				color: $blue;
			}
		}

		&-thead {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		    flex-shrink: 0;

		    padding-bottom: 17px;

		    @include desctop {
		    	padding-bottom: 0;	
		    }
		}

		&-th {
			background: $white;

			padding: 19px 10px;

			border-left: 1px solid $grey;
			border-top: 1px solid $grey;

			@include small_mobile {
				font-size: 12px;

				padding: 5px;
			}

			&:last-child {
				border-bottom: 1px solid $grey;
			}
		}

		&-tr {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
		}

		&-tbody {
			display: flex;

		    position: relative;

		    overflow-x: auto;
		    overflow-y: hidden;
		}

		&-td {
			background: $white;

			padding: 19px 15px;

			text-align: center;

			@include small_mobile {
				padding: 5px;	
			}
			
			&:nth-child(n+2) {
				border-top: 1px solid $grey;
			}

			&:last-child {
				border-bottom: 1px solid $grey;
			}

			&--item {
				background: transparent;
				
				padding-top: 0;
				padding-bottom: 30px;

				@include small_mobile {
					background: $white;

					padding: 7px 5px;

					border-top: 1px solid $grey;
				}
			}

			&--right {
				border-right: 1px solid $grey;
			}

			&--first {
				padding-left: 0;

				@include small_mobile {
					padding-left: 5px;

					border-left: 1px solid $grey;
				}
			}

			&--last {
				padding-right: 0;

				@include mobile {
					padding-right: 5px;	

					border-right: 1px solid $grey;
				}
			}
		}
	}
}