.filter {

	@include mobile {
		display: flex;
		flex-direction: column;
	}

	&__selected {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 25px;

		&-item {
			font-size: 12px;

			padding: 3px 20px;

			text-decoration: none;

			color: $black;

			border: 1px solid $grey;
			border-radius: 25px;

			background: $white;

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}

	&__sort {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding-bottom: 15px;
		margin-bottom: 30px;

		border-bottom: 1px solid $blue;

		&-block {
			display: flex;
		}

		&-link {
			text-decoration: none;

			color: $blue;

			margin-left: 13px;
		}

		&-type {
			display: block;

			width: 18px;
			height: 18px;

			&:not(:last-child) {
				margin-right: 10px;
			}

			& > svg {
				fill: $text-grey;
			}

			&--active > svg {
				fill: $blue;
			}
		}
	}

	&__list {
		height: 70px;

		list-style: none;

		padding-left: 0;
		margin: 0;
		margin-bottom: 3px;

		transition: all 0.5s ease-in-out;

		overflow-y: hidden;
	}

	&__item:hover,
	&__item--active {
		color: $orange;
	}

	&__item:not(:last-child) {
		margin-bottom: 3px;
	}

	&__link {
		text-decoration: none;

		color: inherit;
	}

	&__more {
		text-decoration: none;

		color: inherit;

		padding-right: 20px;

		position: relative;

		&::after {
			content: '';

			display: block;
			width: 6px;
			height: 6px;

			transform: rotate(-45deg);

			border-left: 1px solid $black;
			border-bottom: 1px solid $black;

			position: absolute;
			top: 3px;
			right: 0;
		}

		&:hover {
			color: $orange;

			&::after {
				border-color: inherit;
			}
		}

		&--mobile {
			display: inline-block;

			font-size: 16px;

			color: $orange;

			padding-right: 20px;
			margin-bottom: 15px;

			&::after {
				border-color: inherit;
				
				top: 5px;
				right: 0;
			}

			@include tablet {
				display: none;
			}
		}

		&--active::after {
			top: 7px;
			transform: rotate(135deg);
		}
	}

	&__aside {
		width: 23%;

		@include mobile {
			width: 100%;

			position: relative;
		}

		@include tablet {
			width: 23%;	
		}

		&-wrapper {

			@include mobile {
				display: none;

				width: 100%;

				background: $main;

				padding: 0 13px;

				position: absolute;

				z-index: 10;

			}

			@include tablet {
				position: relative;	
			}
		}
	}

	&__catalog {
		width: 74%;

		@include mobile {
			width: 100%;	
		}

		@include tablet {
			width: 74%;	
		}
	}

	&__block {
		padding-bottom: 20px;
		margin-bottom: 20px;

		border-bottom: 1px solid $grey;

		@include mobile {
			padding-bottom: 10px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}	
		}
	}

	&__title {
		font-family: $bold;
		font-size: 16px;

		margin-bottom: 10px;
	}

	&__row {
		display: flex;

		@include tablet {
			flex-wrap: wrap;
		}

		@include medium {
			flex-wrap: nowrap;	
		}

		&--justify {
			justify-content: space-between;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		
		margin-bottom: 20px;
	}
}