.footer {

	&--main {
		font-size: 16px;

		padding: 57px 0;

		@include mobile {
			padding: 27px 0;	
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include small_mobile {
			flex-direction: column;	
		}

		@include tablet {
			flex-direction: column;
		}

		@include medium {
			flex-direction: row;	
		}

		&--top {
			align-items: flex-start;

			@include tablet {
				flex-direction: row;
				flex-wrap: wrap;	
			}
		}

		&--left {
			justify-content: flex-start;
		}
	}

	&__column {

		@include mobile {
			margin-bottom: 20px;	
		}
	}

	&__line {
		font-size: 16px;

		&--top {
			color: $white;
			background: $orange;

			padding: 19px 0;
		}

		&--bottom {
			background: $grey;

			padding: 18px 0;
		}
	}

	&__title {
		font-family: $bold;

		margin-bottom: 8px;
	}

	&__text:not(:last-of-type) {
		margin-bottom: 7px;
	}

	&__list {
		padding: 0;
		margin: 0;

		list-style: none;
	}

	&__item:not(:last-child) {
		margin-bottom: 5px;
	}

	&__link {
		font-family: $regular;

		text-decoration: none;

		color: $black;
	}

	&__contacts:not(:last-of-type) {
		margin-bottom: 35px;
	}

	&__shop:not(:last-of-type) {
		margin-right: 27px;
	}
}