.header {

	&-main {
		background: $white;
		border-bottom: 1px solid $grey;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--main {
			padding: 20px 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;

		font-size: 16px;
		text-decoration: none;

		color: $black;

		& > svg {
			width: 25px;
			height: 20px;

			fill: #c8c8c8;

			margin-right: 10px;

			order: -1;
		}

		&--active {
			position: relative;
		}

		&:hover,
		&--active,
		&:hover > svg,
		&--active > svg {
			color: $orange;
			fill: $orange;
		}

		&--active::after {
			content: '';

			display: block;
			width: 8px;
			height: 8px;

			background: $red;
			border-radius: 50%;

			position: absolute;
			top: -2px;
			right: -10px;
		}
	}
}

.headline {
	background: $blue;

	color: $white;

	padding: 15px 0;

	&__link {
		color: $white;

		text-decoration: none;

		border-bottom: 2px solid $light-blue;

		position: relative;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		&:not(:last-of-type)::after {
			content: '';

			display: block;
			width: 2px;
		    height: 13px;

		    position: absolute;
		    top: 4px;
		    right: -12px;

		    background: $white;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__phone {
		color: $white;

		text-decoration: none;

		margin-right: 23px;

		position: relative;

		&::after {
			content: '';

			display: block;
			width: 2px;
			height: 100%;

			position: absolute;
			right: -12px;
			top: 0;

			background: $white;
			border-right: 1px solid #61c6e3;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__menu {
		display: flex;
	}
}