.header {

	&-main {
		background: $white;
		border-bottom: 1px solid $grey;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include small_mobile {
			flex-direction: column;
		}

		@include tablet {
			flex-direction: column;
		}

		@include medium {
			flex-direction: row;
		}

		&--main {
			padding: 20px 0;
		}
	}

	&__links {
		display: flex;

		@include small {
			flex-direction: column;

			margin-bottom: 15px;
		}

		@include mobile {
			margin-bottom: 15px;
		}

		@include tablet {
			margin-bottom: 20px;
		}

		@include medium {
			margin-bottom: 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;

		font-size: 16px;
		text-decoration: none;

		color: $black;

		@include small {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		@include mobile {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		@include tablet {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		@include medium {
			&:not(:last-child) {
				margin-right: 5px;
			}
		}

		@include desctop {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}

		& > svg {
			width: 25px;
			height: 20px;

			fill: #c8c8c8;

			margin-right: 10px;

			order: -1;
		}

		&--active {
			position: relative;
		}

		&:hover,
		&--active,
		&:hover > svg,
		&--active > svg {
			color: $orange;
			fill: $orange;
		}

		&--active::after {
			content: '';

			display: block;
			width: 8px;
			height: 8px;

			background: $red;
			border-radius: 50%;

			position: absolute;
			top: -2px;
			right: -10px;
		}
	}
}

.headline {
	background: $blue;

	color: $white;

	padding: 15px 0;

	&__title {
		text-align: center;
	}

	&__contacts {
		display: flex;

		@include small_mobile {
			flex-direction: column;
		}

		@include medium {
			flex-direction: column;
		}

		@include desctop {
			flex-direction: row;
		}
	}

	&__link {
		color: $white;

		text-decoration: none;

		border-bottom: 2px solid $light-blue;

		position: relative;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		&:not(:last-of-type)::after {
			content: '';

			display: block;
			width: 2px;
		    height: 13px;

		    position: absolute;
		    top: 4px;
		    right: -12px;

		    background: $white;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__phone {
		color: $white;

		text-decoration: none;

		position: relative;

		@include mobile {
			margin-right: 0;
			margin-bottom: 7px;
		}

		@include tablet {
			margin-right: 23px;
		}

		@include medium {
			margin-right: 0;
			margin-bottom: 5px;
		}

		@include desctop {
			margin-right: 23px;
			margin-bottom: 0;
		}

		&::after {
			content: '';

			width: 2px;
			height: 100%;

			position: absolute;
			right: -12px;
			top: 0;

			background: $white;
			border-right: 1px solid #61c6e3;

			@include mobile {
				display: none;
			}

			@include medium {
				display: none;
			}

			@include desctop {
				display: block;
			}
		}

		&:hover {
			opacity: .7;
		}
	}

	&__menu {
		display: flex;

		@include small_mobile {
			margin: 15px 0;
		}

		@include tablet {
			margin: 10px 0;
		}

		@include medium {
			margin: 0;
		}
	}
}