.main-menu {
	background: $white;

	position: relative;

	@include small_mobile {
		height: 40px;

		border-bottom: 1px solid $grey;
	}

	&__burger {
		width: 25px;
    		height: 25px;

    		margin-left: 10px;

			position: absolute;
			top: 5px;

			& > svg {
				fill: $orange;
			}

		@include tablet {
			display: none;	
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include small_mobile {
			display: none;
			
			flex-direction: column;

			width: calc(100% - 40px);

			background: $white;
			border: 1px solid $grey;

			position: absolute;
			top: 40px;

			z-index: 20;
		}

		@include tablet {
			flex-direction: column;	
		}

		@include medium {
			flex-direction: row;	
		}
	}

	&__list {
		display: flex;

		padding: 0;
		margin: 0;

		list-style: none;

		@include small_mobile {
			flex-direction: column;	
		}

		@include tablet {
			justify-content: space-around;	
		}
	}

	&__item {

		@include small_mobile {
			padding: 10px 15px;
		}

		@include tablet {
			padding: 15px 0;	
		}
	}

	&__item:not(:last-child) {

		@include medium {
			margin-right: 13px;
		}

		@include desctop {
			margin-right: 27px;	
		}
	}

	&__item--parent:hover .submenu {
		display: block;
	}

	&__link {
		text-decoration: none;

		color: $black;

		&:hover {
			color: $red;
		}
	}
}