.ordering {
	justify-content: space-between;

	@include mobile {
		flex-direction: column;	
	}

	@include tablet {
		flex-direction: row;	
	}

	&__main {

		@include mobile {
			width: auto;	
		}

		@include tablet {
			width: 67%;
		}
	}

	&__section {
		border: 1px solid $grey;
		border-radius: 4px;

		background: $white;

		@include mobile {
			margin-bottom: 20px;	
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__header {
		display: flex;
		align-items: center;

		font-family: $bold;
		font-size: 16px;

		padding: 8px 28px;

		background: $orange;
		color: $white;

		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		&-number {
			display: flex;
		    justify-content: center;
		    align-items: center;

			width: 24px;
			height: 24px;

			border-radius: 50%;
			background: $white;

			color: $orange;

			margin-right: 10px;
		}
	}

	&__block {
		padding: 27px 30px;

		@include mobile {
			padding: 10px;	
		}

		@include tablet {
			padding: 27px 30px;
		}

		&--justify {
			display: flex;
			justify-content: space-between;
		}

		&--end {
			display: flex;
			justify-content: flex-end;
		}

		&--row {
			display: flex;

			@include mobile {
				flex-direction: column;	
			}

			@include tablet {
				flex-direction: column;	
			}

			@include medium {
				flex-direction: row;	
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid $grey;
		}

		&-wrapper {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-family: $bold;

		color: $text-grey;

		margin-bottom: 10px;

		&--required {
			padding-left: 10px;

			position: relative;

			&::before {
				content: '*';

				color: $orange;

				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__note {
		color: $text-grey;
	}

	&__aside {

		@include mobile {
			width: auto;	
		}

		@include tablet {
			width: 30%;
		}
	}

	&__description {
		background: $white;

		border: 1px solid $grey;
		border-radius: 4px;

		margin-bottom: 30px;

		&-row {
			display: flex;
			justify-content: space-between;

			padding: 20px;

			&--tall {
				padding-top: 28px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $grey;
			}
		}

		&-title {
			font-family: $bold;
		}

		&-oldprice {
			color: $text-grey;

			text-decoration: line-through;

			margin-top: 10px;
		}

		&-sum {
			font-family: $bold;
			font-size: 26px;

			color: $orange;

			@include tablet {
				font-size: 22px;	
			}

			@include medium {
				font-size: 26px;	
			}
		}
	}
}