.product {

	&__main {
		display: flex;

		@include small_mobile {
			flex-direction: column;	
		}

		@include tablet {
			flex-direction: column;	
		}

		@include medium {
			flex-direction: row;	
		}
	}

	&__gallery {

		@include medium {
			width: 50%;	
		}
	}

	&__info {
		flex: 1;
	}

	&__image {
		display: block;
		
		height: 320px;

		border: 1px solid $grey;
		border-radius: 4px;

		position: relative;

		margin-right: 30px;
		margin-bottom: 20px;

		@include small_mobile {
			margin-right: 0;	
		}

		@include tablet {
			margin-right: 0;	
		}

		@include medium {
			width: 90%;

			margin-right: 30px;	
		}

		@include desctop {
			width: 570px;	
		}

		& > img {
			width: 100%;
			height: 100%;
		}
	}

	&__icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__thumbs {
		display: flex;

		margin-bottom: 60px;

		&-item {
			width: 100px;
			height: 55px;

			border: 1px solid $grey;

			cursor: pointer;

			&--active {
				border: 2px solid $orange;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}

			& > img {
				height: 100%;
			}
		}
	}

	&__title {
		font-family: $bold;
		font-size: 20px;

		text-transform: uppercase;

		margin-bottom: 20px;
	}

	&__props {
		width: 100%;

		border-collapse: collapse;

		margin-bottom: 30px;

		& td {
			padding: 9px 13px;

			background: $white;

			border: 2px solid $main;

			@include mobile {
				padding: 5px;	
			}
		}

		&-title {
			font-family: $bold;

			color: $text-grey;
		}

		& span {
			display: inline-block;

			margin-right: 20px;

			@include mobile {
				margin-bottom: 10px;	
			}
		}

		& .warning {
			color: $red;
		}
	}

	&__link {
		width: 22px;
		height: 9px;

		border-radius: 25px;
		border: 1px solid $red;

		text-decoration: none;

		color: $red;

		padding: 4px 22px;

		@include mobile {
			padding: 4px;	
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__priceinfo {
		display: flex;
		justify-content: space-between;

		@include small_mobile {
			flex-direction: column;	
		}

		@include tablet {
			flex-direction: row;

			margin-bottom: 20px;	
		}

		@include medium {
			margin-bottom: 0;	
		}
	}

	&__block {
		display: flex;
		flex-direction: column;

		@include small_mobile {
			margin-bottom: 15px;	
		}

		@include tablet {
			width: 45%;	
		}

		@include medium {
			width: 48%;	
		}

		@include desctop {
			width: 270px;	
		}

		&--buttons {
			justify-content: space-between;
		}

		&--quantity {
			background: $white;

			border: 1px solid $grey;
			border-radius: 4px;

			padding: 19px 30px 26px 30px;
		}
	}

	&__oldprice {
		color: #bebebe;
		text-decoration: line-through;

		margin-bottom: 17px;
	}

	&__price {
		font-family: $bold;
		font-size: 26px;

		color: $orange;

		margin-top: auto;
	}

	&__count {
		position: relative;
	}

	&__tabs {
		& #tab2,
		& #tab3 {
			position: fixed;
		}

		&-item {
			display: inline-block;

			width: 170px;

			padding: 9px 0;
			margin-left: 10px;

			background: $white;

			border: 1px solid $grey;
			border-bottom: none;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

			text-align: center;
			text-decoration: none;

			font-size: 16px;

			color: $black;

			@include mobile {
				width: auto;

				font-size: 12px;	

				padding: 5px;
			}

			&--active {
				font-family: $bold;

				background: $grey;
				color: $text-grey;
			}
		}

		&-text {
			padding: 26px 30px;

			background: $white;
			border: 1px solid $grey;
			border-radius: 4px;
		}

		& #tab2,
		& #tab3,
		& > &-text,
		& #tab2:target ~ &-text:nth-of-type(1),
		& #tab3:target ~ &-text:nth-of-type(1) {
			display: none; 
		}

		& > &-text:nth-of-type(1),
		& #tab2:target ~ &-text:nth-of-type(2),
		& #tab3:target ~ &-text:nth-of-type(3) { 
			display: block; 
		}

		& #tab2:target {
			background: $red;
		}
	}
}