.recommendations {
	padding-left: 73px;

	position: relative;

	@include mobile {
		margin-bottom: 20px;

		padding-left: 0;	
	}

	@include tablet {
		margin-bottom: 30px;	
	}

	@include medium {
		margin-bottom: 0;	
	}

	&::before {
		content: '';

		display: block;
		width: 40px;
		height: 40px;

		background: url('../img/send.png') no-repeat 50% 50%;

		position: absolute;
		top: -10px;
		left: 0;

		@include mobile {
			display: none;	
		}
	}
}