.search {
	position: relative;

	@include tablet {
		margin-bottom: 20px;
	}

	@include medium {
		margin-bottom: 0;
	}

	&__input {
		border: 2px solid $grey;
		border-radius: 4px;

		padding: 10px 60px 10px 10px;

		@include mobile {
			margin-bottom: 20px;
		}

		@include tablet {
			width: 390px;
		}

		@include medium {
			width: auto;
		}

		@include desctop {
			width: 390px;
		}
	}

	&__submit {
		width: 50px;
		height: 40px;

		background: url('../img/search.png') no-repeat 50% 50%, $orange;
		border: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

		font-size: 0;

		position: absolute;
		top: 0;
		right: 0;
	}
}