.slider {

	&--main {
		background: linear-gradient(to bottom, $main 10%, $white 60%);

		padding: 28px 0;

		@include mobile {
			display: none;	
		}
	}

	&__wrapper {
		position: relative;

		&--small {
			display: flex;
			justify-content: space-between;

			margin-bottom: 60px;
		}
	}

	&__arrow {
		height: 43px;
		width: 28px;

		background: $black;

		position: absolute;
		top: 50%;

		margin-top: -21px;

		cursor: pointer;

		&--left {
			background: url('../img/arrows.png') no-repeat -3px 0;

			left: -50px;
		}

		&--right {
			background: url('../img/arrows.png') no-repeat -53px 0;

			right: -50px;
		}
	}
	
	&__slide {
		padding: 4px;

		background: $white;
		box-shadow: 0px 0px 3px 3px rgba(235,235,235,1);
		border-radius: 3px;

		position: relative;

		&--small {
			display: flex;

			padding: 0;

			box-shadow: none;
			border: 1px solid $grey;

			@include tablet {
				height: 80px;	
			}

			@include medium {
				width: 300px;
				height: 100px;
			}

			@include desctop {
				width: 370px;
				height: 100px;	
			}
		}

		&-info {
			width: 350px;

			font-size: 26px;

			background: rgba(247, 158, 55, .9);
			color: $white;

			position: absolute;
			bottom: 30px;
			left: 30px;

			@include tablet {
				padding: 10px;	
			}

			@include medium {
				padding: 15px;	
			}

			@include desctop {
				padding: 27px 30px;
			}
		}

		&-text {
			font-family: $bold;

			line-height: 30px;

			margin-bottom: 20px;
		}

		& > img {
			width: 100%;
		}
	}

	&__dots {
		display: flex;

		list-style: none;

		padding-left: 0;
		margin: 0;

		position: absolute;
		right: 30px;
		bottom: 30px;

		&-item {
			width: 20px;
			height: 20px;

			background: $white;

			border: 3px solid $white;
			border-radius: 50%;

			&--current {
				background: $blue;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&__text {
		color: $blue;

		flex: 1;

		@include tablet {
			font-size: 14px;
			line-height: 16px;

			padding: 10px;
		}

		@include medium {
			font-size: 16px;
			line-height: 24px;

			padding: 18px;
		}
	}

	&__image {
		border-right: 1px solid $grey;

		@include tablet {
			width: 80px;
		}

		@include medium {
			width: 100px;
		}

		& > img {
			height: 100%;
		}
	}
}