.subscribe {
	position: relative;

	&__input {
		padding: 10px 165px 10px 10px;

		border: none;
		border-radius: 4px;

		color: $black;

		@include mobile {
			width: 100%;
			
			padding: 10px 115px 10px 10px;	
		}

		@include tablet {
			width: 100%;	
		} 

		@include medium {
			width: 390px;	
		}

		@include desctop {
			width: 505px;
		}
	}

	&__submit {
		padding: 10px 30px;

		border: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

		background: #ffd986;

		position: absolute;
		top: 0;
		right: 0;

		@include mobile {
			padding: 10px;	
		}
	}
}