extends ../_template

block variables
	- var title = 'Каталог 2'

block content
	.container
		+breadcrumbs(['Главная', 'Мебель', 'Мебель для кухни', 'Столы для кухни'])

		h1.main-title Столы для кухни
		.filter__selected
			a.filter__selected-item(href="#") esta
			a.filter__selected-item(href="#") HABUFA
			a.filter__selected-item(href="#") Круглый
			a.filter__selected-item(href="#") Овальный
			a.filter__selected-item(href="#") Дерево
		.filter__sort
			.filter__sort-block Сортировать:
				a.filter__sort-link(href="#") по популярности
				a.filter__sort-link(href="#") по цене
				a.filter__sort-link(href="#") по скидке
			.filter__sort-block
				a.filter__sort-type(href="#")
					include ../../images/svg/th.svg
				a.filter__sort-type.filter__sort-type--active(href="#")
					include ../../images/svg/bars.svg
		.wrapper.wrapper--justify.filter
			aside.filter__aside
				a.filter__more.filter__more--mobile(href="#", id="filter") Фильтр
				.filter__aside-wrapper
					.filter__block
						input.check(type="checkbox", id="instock")
						label.check__label(for="instock") Товар в наличии
					.filter__block
						.filter__title Цена руб
						.filter__row.filter__row--justify
							.input__wrapper
								span.input__sign от
								input.input.input--small(type="text", placeholder="1 500")
							.input__wrapper
								span.input__sign до
								input.input.input--small(type="text", placeholder="15 000")
					.filter__block
						.filter__title Механизм складывания
						.filter__row
							input.check(type="checkbox", id="yes")
							label.check__label.check__label--row(for="yes") Да
							input.check(type="checkbox", id="no")
							label.check__label.check__label--row(for="no") Нет
							input.check(type="checkbox", id="nothing")
							label.check__label.check__label--row(for="nothing") Не важно
					.filter__block
						.filter__title Форма
						input.check(type="checkbox", id="circle")
						label.check__label.check__label--column(for="circle") Круглый
						input.check(type="checkbox", id="oval")
						label.check__label.check__label--column(for="oval") Овальный
						input.check(type="checkbox", id="rectangle")
						label.check__label.check__label--column(for="rectangle") Прямоугольный
					.filter__block
						.filter__title Цвет
						.filter__row
							input.radio-color(type="radio", id="green", name="color", checked="checked")
							label.radio-color__label(for="green")
								img(src="/assets/img/color.png", alt="")
							input.radio-color(type="radio", id="red", name="color")
							label.radio-color__label(for="red")
								img(src="/assets/img/color.png", alt="")
							input.radio-color(type="radio", id="black", name="color")
							label.radio-color__label(for="black")
								img(src="/assets/img/color.png", alt="")
							input.radio-color(type="radio", id="white", name="color")
							label.radio-color__label(for="white")
								img(src="/assets/img/color.png", alt="")
					.filter__footer
						button.button.button--add2cart Применить
					.filter__footer
						button.button.button--buy1click Сбросить
			.filter__catalog
				+catalogItems(catalogItems, iconsLeader, 'catalog__item--filter')
				.pagination
					a.pagination__item(href="#") 1
					.pagination__dots
						include ../../images/svg/ellipsis-h.svg
					a.pagination__item(href="#") 5
					a.pagination__item.pagination__item--active(href="#") 6
					a.pagination__item(href="#") 7
					a.pagination__item(href="#") 8
					.pagination__dots 
						include ../../images/svg/ellipsis-h.svg
					a.pagination__item(href="#") 120