extends ../_template

block variables
	- var title = 'Доставка'

block content
	.container
		+breadcrumbs(['Главная', 'Доставка'])
		h1.main-title.main-title--underline Доставка

		.wrapper.delivery
			+menu('delivery', ['Мебель', 'Москва', 'Московская область', 'Другие города России'])
			.delivery__main
				p ДОСТАВКА и СБОРКА
				p Мы доставляем мебель по всей России
				p Наши преимущества
				ul
					li Осуществляется адресная доставка в регионах
					li Специалисты по установке мебели и сопутствующих товаров
					li Непрерывный контроль качества всех этапов движения заказа
				p Три принципа ценовой политики услуг
				ul
					li Гибкий подход при расчете стоимости, учитывающий особенности Заказчика, его продукции, местонахождение
					li Возможность выбора, как комплексного обслуживания, так и отдельных видов услуг
					li Регрессивная шкала расчета услуг
				table
					tr
						th Тарифы на сборку
						th Наименование услуг
						th Тариф - Москва, МО, СПб, ЛО
						th Тариф - Регионы
					tr
						td Подъем на этаж #[br] (одна упаковка)
						td 
						td 100 руб
						td 80 руб
					tr
						td Подъем на этаж #[br] (одна упаковка)
						td 
						td 100 руб
						td 80 руб 