extends ../_template

block variables
	- var title = 'Главная'
	- var iconsLeader = ['<div class="catalog__item-icon catalog__item-icon--leader"></div>']
	- var iconsSale = ['<div class="catalog__item-icon catalog__item-icon--leader"></div>', '<div class="catalog__item-icon catalog__item-icon--discount">-40%</div>']
	- var iconsNew = ['<div class="catalog__item-icon catalog__item-icon--new">Новинка</div>']

block content
	.slider.slider--main
		.container
			.slider__wrapper#main-slider
				.slider__slide
					img(src="/assets/img/slide.png")
					a.slider__slide-info(href="#")
						.slider__slide-text Новое поступление постельного белья
						.slider__slide-price от 5000 рублей
				.slider__slide
					img(src="/assets/img/slide.png")
					a.slider__slide-info(href="#")
						.slider__slide-text Новое поступление постельного белья
						.slider__slide-price от 6000 рублей
				.slider__slide
					img(src="/assets/img/slide.png")
					a.slider__slide-info(href="#")
						.slider__slide-text Новое поступление постельного белья
						.slider__slide-price от 7000 рублей
		
	section.section
		.section__title 
			.container
				h2.main-title Лидеры продаж
		.container
			+catalogItems(catalogItems, iconsLeader, '')
			.catalog__footer
				a.catalog__showmore(href="#") Показать еще
	section.section
		.section__title 
			.container
				h2.main-title Акции и скидки
		.container
			+catalogItems(catalogItems, iconsSale, '')
			.catalog__footer
				a.catalog__showmore(href="#") Показать еще
	section.section
		.section__title 
			.container
				h2.main-title Новинки
		.container
			+catalogItems(catalogItems, iconsNew, '')
			.catalog__footer
				a.catalog__showmore(href="#") Показать еще

	section.section
		.section__title 
			.container
				h2.main-title Недавно вы смотрели
		.slider
			.container
				.slider__wrapper.slider__wrapper--small#small-slider
					.slider__slide.slider__slide--small
						a.slider__image(href="#")
							img(src="/assets/img/slide-1.png")
						a.slider__text(href="#") Спальный гарнитур Аллегро белый с 5-ти дверным шкафом
					.slider__slide.slider__slide--small
						a.slider__image(href="#")
							img(src="/assets/img/slide-1.png")
						a.slider__text(href="#") Спальный гарнитур Аллегро белый с 6-ти дверным шкафом
					.slider__slide.slider__slide--small
						a.slider__image(href="#")
							img(src="/assets/img/slide-1.png")
						a.slider__text(href="#") Спальный гарнитур Аллегро белый с 7-ти дверным шкафом
					.slider__slide.slider__slide--small
						a.slider__image(href="#")
							img(src="/assets/img/slide-1.png")
						a.slider__text(href="#") Спальный гарнитур Аллегро белый с 8-ти дверным шкафом
					.slider__slide.slider__slide--small
						a.slider__image(href="#")
							img(src="/assets/img/slide-1.png")
						a.slider__text(href="#") Спальный гарнитур Аллегро белый с 9-ти дверным шкафом

	section.features
		.container
			.description
				.description__image
					img(src="/assets/img/logo-feature.png")
				.description__text - интернет-гипермаркет подарков и товаров для дома. Для Вашего дома. Для Вас!
			.features__wrapper
				.features__item
					.features__icon.features__icon--good
					.features__info
						.features__title Отличные цены
						.features__description Найдете дешевле - вернем разницу. 
							a.features__link(href="#") Специальные скидки
				.features__item
					.features__icon.features__icon--delivery
					.features__info
						.features__title Быстрая доставка
						.features__description Доставляем по всей России!  
							a.features__link(href="#") Экспресс-доставка
							|  за 3 часа!
				.features__item
					.features__icon.features__icon--pay
					.features__info
						.features__title Удобная оплата
						.features__description Платите где угодно и как угодно! 
							a.features__link(href="#") Наличные, безнал, банковские карты