extends ../_template

block variables
	- var title = 'Главная'
	- var iconsLeader = ['<div class="catalog__item-icon catalog__item-icon--leader"></div>']
	- var iconsSale = ['<div class="catalog__item-icon catalog__item-icon--leader"></div>', '<div class="catalog__item-icon catalog__item-icon--discount">-40%</div>']
	- var iconsNew = ['<div class="catalog__item-icon catalog__item-icon--new">Новинка</div>']

block content
	.slider.slider--main
		.container
			.slider__wrapper
				.slider__arrow.slider__arrow--left
				.slider__arrow.slider__arrow--right
				.slider__slide
					img(src="/assets/img/slide.png")
					.slider__slide-info
						.slider__slide-text Новое поступление постельного белья
						.slider__slide-price от 5000 рублей
				ul.slider__dots
					li.slider__dots-item
					li.slider__dots-item.slider__dots-item--current
					li.slider__dots-item
					li.slider__dots-item
		
	section.section
		.section__title 
			.container
				h2.main-title Лидеры продаж
		.container
			+catalogItems(catalogItems, iconsLeader)
	section.section
		.section__title 
			.container
				h2.main-title Акции и скидки
		.container
			+catalogItems(catalogItems, iconsSale)
	section.section
		.section__title 
			.container
				h2.main-title Новинки
		.container
			+catalogItems(catalogItems, iconsNew)

	section.section
		.section__title 
			.container
				h2.main-title Недавно вы смотрели
		.slider
			.container
				.slider__wrapper.slider__wrapper--small
					.slider__arrow.slider__arrow--left
					.slider__arrow.slider__arrow--right
					.slider__slide.slider__slide--small
						.slider__image
							img(src="/assets/img/slide-1.png")
						.slider__text Спальный гарнитур Аллегро белый с 6-ти дверным шкафом
					.slider__slide.slider__slide--small
						.slider__image
							img(src="/assets/img/slide-1.png")
						.slider__text Спальный гарнитур Аллегро белый с 6-ти дверным шкафом
					.slider__slide.slider__slide--small
						.slider__image
							img(src="/assets/img/slide-1.png")
						.slider__text Спальный гарнитур Аллегро белый с 6-ти дверным шкафом

	section.features
		.container
			.description
				.description__image
					img(src="/assets/img/logo-feature.png")
				.description__text - интернет-гипермаркет подарков и товаров для дома. Для Вашего дома. Для Вас!
			.features__wrapper
				.features__item
					.features__icon.features__icon--good
					.features__info
						.features__title Отличные цены
						.features__description Найдете дешевле - вернем разницу. 
							a.features__link(href="#") Специальные скидки
				.features__item
					.features__icon.features__icon--delivery
					.features__info
						.features__title Быстрая доставка
						.features__description Доставляем по всей России!  
							a.features__link(href="#") Экспресс-доставка
							|  за 3 часа!
				.features__item
					.features__icon.features__icon--pay
					.features__info
						.features__title Удобная оплата
						.features__description Платите где угодно и как угодно! 
							a.features__link(href="#") Наличные, безнал, банковские карты