extends ../_template

block variables
	- var title = 'Новости'

block content
	.container
		+breadcrumbs(['Главная', 'Новости'])

		h1.main-title.main-title--underline Новости
		.news__item.news__item--main
			img.news__image.news__image--main(src="/assets/img/news.png")
			.news__info
				.news__date 01.08.2018
				.news__title.news__title--main Шапка новости и статьи
				.news__preview  Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации. Товарищи! новая модель организационной деятельности требуют от нас анализа систем массового участия.
		.news
			.news__item
				img.news__image(src="/assets/img/news.png")
				.news__info
					.news__date 01.08.2018
					.news__title Шапка новости и статьи
					.news__preview  Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас...
			.news__item
				img.news__image(src="/assets/img/news.png")
				.news__info
					.news__date 01.08.2018
					.news__title Шапка новости и статьи
					.news__preview  Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас...