extends ../_template

block variables
	- var title = 'Кресло 64*60*73 см.'

block content
	+breadcrumbs(['Главная', 'Мебель', 'Мебель для кухни', 'Кресло 64*60*73 см.'])
	.product
		.product__main
			.product__gallery
				.icon__sale 40%
				.product__image
					img(src="img/product.jpg")
				.products__thumbs
					.product__thumb.product__thumb--active
						img(src="img/product-thumb.jpg")
					.product__thumb
						img(src="img/product-thumb.jpg")
			.product__info
				h1 Кресло 64*60*73 см.
				.properties
					.property
						.property__title Артикул 
						.property__value 762-011 
					.property
						.property__title Страна 
						.property__value Китай
					.property
						.property__title Производитель 
						.property__value anji kasei furniture co. ltd 
					.property
						.property__title Материал 
						.property__value МДФ/Ткань 
					.property
						.property__title Наличие 
						.property__value #[span.warning Нет в наличии] #[a.inform__link(href="#") Узнать о поступлении]
				.product__buy
					.product__priceinfo
						.product__quantity
							a.minus(href="#") -
							input.text.product__count(type="text")
							a.plus(href="#") +
						.product__buttons
							a.button.button__add2cart(href="#") Добавить в корзину
							a.button.button__buy1click(href="#") Купить в 1 клик
							a.button.button__credit(href="#") Купить в кредит
		.share Поделиться: 
			a.share__fb(href="#")
			a.share__in(href="#")
			a.share__ok(href="#")
			a.share__tw(href="#")
			a.share__vk(href="#")
		.product__tabs
			a.product__detail(href="#product__detail") Подробнее
			a.product__properties(href="#product__properties") Особенности
			a.product__kit(href="#product__kit") Комплектация
			div#product__detail
				| Представляем Вам красивую классическую спальню от известной фабрики “Диа мебель” из Калининграда. Классический интерьер спальни – это сочетание стиля, изысканности, гармонии и роскоши. Выбирая классический дизайн, вы подчеркиваете безупречный вкус и эстетичность, а также создаете уютную и комфортную атмосферу в спальне. Роскошная мебель с богатой отделкой и обилие эффектных декоративных элементов - основные отличия классического стиля. Каждый предмет спального гарнитура или элемент дизайна гармонично вписывается в общую композицию пространства. Спальня Бьянка - это спальня в стиле модерн. Продается только в комплекте. Возможны композиции с 4х и 5-ти дверными шкафами. Изголовье кровати выполнено из эко-кожи.
			div#product__properties
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolor molestiae doloribus. Ipsum, vitae, obcaecati! Cupiditate excepturi perferendis voluptatum hic ducimus a quaerat vero corporis, quia eos ipsa consequuntur iusto ipsum beatae porro eveniet ipsam est quae, nostrum voluptas! Natus aspernatur quae cumque, a, unde error. Sequi, eos perspiciatis optio!
			div#product__kit
				| Ex quibusdam esse, nisi perspiciatis sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In impedit esse omnis laboriosam corporis, aliquam ipsa exercitationem voluptatibus quidem at tenetur debitis dignissimos! Adipisci similique facilis laboriosam a! Aspernatur repudiandae cumque explicabo impedit, magnam laborum inventore consequuntur saepe, earum fuga hic soluta, delectus architecto. 
		section.section
			.section__title Персональные рекомендации
				+catalogItems(catalogItems)