extends ../_template

block variables
	- var title = 'Кресло 64*60*73 см.'

block content
	.container
		+breadcrumbs(['Главная', 'Мебель', 'Мебель для кухни', 'Карточка товара'])

		.product
			.product__main
				.product__gallery
					.product__image#product-image
						.catalog__item-icon.catalog__item-icon--discount.product__icon 40%
						img(src="/assets/img/product-2.png")
					.product__thumbs
						.product__thumbs-item.product__thumbs-item--active
							img(src="/assets/img/product-1.jpg")
						.product__thumbs-item
							img(src="/assets/img/product-2.png")
				.product__info
					.product__title Кресло 64*60*73 см.
					table.product__props
						tr
							td.product__props-title Артикул 
							td 762-011 
						tr
							td.product__props-title Страна 
							td Китай
						tr
							td.product__props-title Производитель 
							td anji kasei furniture co. ltd 
						tr
							td.product__props-title Материал 
							td МДФ/Ткань 
						tr
							td.product__props-title Наличие 
							td #[span.warning Нет в наличии] #[a.product__link(href="#") Узнать о поступлении]
					.product__priceinfo
						.product__block.product__block--quantity
							.product__count
								button.button.button--minus -
								input.input.input--count(type="text", value="1")
								button.button.button--plus +
							.product__oldprice 1 700 руб.
							.product__price 1 500 руб.
						.product__block.product__block--buttons
							a.button.button--add2cart(href="#") Добавить в корзину
							a.button.button--buy1click(href="#") Купить в 1 клик
							a.button.button--credit(href="#") В кредит
			.share Поделиться: 
				a.share__icon(href="#")
					include ../../images/svg/facebook-f.svg
				a.share__icon(href="#")
					include ../../images/svg/instagram.svg
				a.share__icon(href="#")
					include ../../images/svg/odnoklassniki.svg
				a.share__icon(href="#")
					include ../../images/svg/twitter.svg
				a.share__icon(href="#")
					include ../../images/svg/vk.svg
			.product__tabs
				span#tab2
				span#tab3
				a.product__tabs-item.product__tabs-item--active(href="#tab1") Подробнее
				a.product__tabs-item(href="#tab2") Особенности
				a.product__tabs-item(href="#tab3") Комплектация
				.product__tabs-text Представляем Вам красивую классическую спальню от известной фабрики “Диа мебель” из Калининграда. Классический интерьер спальни – это сочетание стиля, изысканности, гармонии и роскоши. Выбирая классический дизайн, вы подчеркиваете безупречный вкус и эстетичность, а также создаете уютную и комфортную атмосферу в спальне. Роскошная мебель с богатой отделкой и обилие эффектных декоративных элементов - основные отличия классического стиля. Каждый предмет спального гарнитура или элемент дизайна гармонично вписывается в общую композицию пространства. Спальня Бьянка - это спальня в стиле модерн. Продается только в комплекте. Возможны композиции с 4х и 5-ти дверными шкафами. Изголовье кровати выполнено из эко-кожи.
				.product__tabs-text Tab2
				.product__tabs-text Tab3

			section.section
				h2.main-title.main-title--underline Персональные рекомендации
				+catalogItems(catalogItems)