extends ../_template

block variables
	- var title = 'Столы для кухни'
	- var iconsLeader = ['<div class="icon__leader"></div>']
	- var iconsSale = ['<div class="icon__sale">40%</div>']
	- 
		var items = [
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' },
			{ img: 'img/catalog-item1.jpg', section: 'Классичесие спальни', name: 'Спальный гарнитур Аллегро белый с 6-ти дверным шкафом', price: '116 000', oldprice: '135 000' }
		];

block content
	+breadcrumbs(['Главная', 'Мебель', 'Мебель для кухни', 'Столы для кухни'])
	h1 Столы для кухни
	.catalog
		.catalog-links
			a.catalog-links__link(href="#") esta
			a.catalog-links__link(href="#") HABUFA
			a.catalog-links__link(href="#") Parisot
			a.catalog-links__link(href="#") Круглый
			a.catalog-links__link(href="#") Овальный
			a.catalog-links__link(href="#") Дерево
			a.catalog-links__link(href="#") ЛДСП
			a.catalog-links__link(href="#") 4 ножки
			a.catalog-links__link(href="#") 1 ножки
		.catalog-filter
			.catalog-sort Сортировать: 
				a(href="#") по популярности
				a(href="#") по цене
				a(href="#") по скидке
			.catalog-view
				a.catalog-view_table.catalog-view_active(href="#")
				a.catalog-view_list(href="#")
		.catalog_left
			.smartfilter
				.smartfilter__item
					.smartfilter__content
						input.checkbox(type="checkbox" id="checkbox1")
						label.label(for="checkbox1") Товар в наличии
				.smartfilter__item
					.smartfilter__title Цена руб
					.smartfilter__content.smartfilter__content--horizontal
						input.text(type="text" placeholder="от 1 500")
						input.text(type="text" placeholder="до 15 000")
				.smartfilter__item
					.smartfilter__title Механизм складывания
					.smartfilter__content.smartfilter__content--horizontal
						input.checkbox(type="checkbox" id="checkbox2")
						label.label(for="checkbox2") Да
						input.checkbox(type="checkbox" id="checkbox3")
						label.label(for="checkbox3") Нет
						input.checkbox(type="checkbox" id="checkbox4")
						label.label(for="checkbox4") Не важно
				.smartfilter__item
					.smartfilter__title Форма
					.smartfilter__content.smartfilter__content--vertical
						input.checkbox(type="checkbox" id="checkbox5")
						label.label(for="checkbox5") Круглый
						input.checkbox(type="checkbox" id="checkbox6")
						label.label(for="checkbox6") Нестандартный
						input.checkbox(type="checkbox" id="checkbox7")
						label.label(for="checkbox7") Овальный
						input.checkbox(type="checkbox" id="checkbox8")
						label.label(for="checkbox8") Прямоугольный
				//- .smartfilter__item
				//- 	.smartfilter__title Цвет
				//- 	.smartfilter__content.smartfilter__content--horizontal
				//- 		input.checkbox(type="checkbox" id="checkbox10")
				//- 		label.label(for="checkbox10") Круглый
				//- 		input.checkbox(type="checkbox" id="checkbox11")
				//- 		label.label(for="checkbox11") Нестандартный
				//- 		input.checkbox(type="checkbox" id="checkbox12")
				//- 		label.label(for="checkbox12") Овальный
				//- 		input.checkbox(type="checkbox" id="checkbox13")
				//- 		label.label(for="checkbox13") Прямоугольный
				button.smartfilter__submit Применить
				button.smartfilter__cancel Сбросить
		.catalog_right
			.catalog-section
				section.section
					.section__title Лидеры продаж
					+catalogItems(items, '', true)
